* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f1ded1;
}

#timer-1 .timer-container {
  display: flex;
}
#timer-1 .timer-container div {
  position: relative;
  margin: 0 5px;
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, rgba(150, 32, 71, 0.267));
}
#timer-1 .timer-container .field span {
  position: relative;
  display: block;
  width: 100px;
  height: 80px;
  background: #53adca;
  color: #fff;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  z-index: 10;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

#timer-1 .timer-container .field .label {
  height: 30px;
  font-size: 0.7em;
  letter-spacing: 0.2em;
  font-weight: 500;
  z-index: 9;
  box-shadow: none;
  background: #346288;
  text-transform: uppercase;
}
#timer-1 .timer-container .field:last-child .value {
  background: #7fcecb;
}
#timer-1 .timer-container .field:last-child .label {
  background: #7fcecb;
}
